# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build
/dist
/temp
/coverage
docs/.vitepress/cache/
docs/.vitepress/dist/
docs/api


*.tgz

# misc
AGENTS.md
