* {
   user-select: none;
}

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
   display: inherit;
}

.App-header {
   background-color: whitesmoke;
   display: flex;
   flex-direction: column;
}

.App-logo {
   height: 60px;
   pointer-events: none;
}

p {
   pointer-events: none;
   margin: 0 4px 0 4px;
}

h3 {
   pointer-events: none;
   margin: 0 8px 0 8px;
}
