* {
   user-select: none;
}

.App {
   display: inherit;
}

.App-header {
   background-color: whitesmoke;
   display: flex;
   flex-direction: column;
}

.App-logo {
   height: 60px;
   pointer-events: none;
}

p {
   pointer-events: none;
   margin: 0 4px 0 4px;
}

h3 {
   pointer-events: none;
   margin: 0 8px 0 8px;
}
